<div class="container">
    <div class="col-xs-12">
        <% if @model == "user" %>
        <h2>Users search for '<%= @value %>'</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <% @datas.each do |user| %>
            <tbody>
                <tr>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                </tr>
            </tbody>
            <% end %>
            <% elsif @model == "post" %>
            <h2>Posts search for '<%= @value %>'</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <% @datas.each do |post| %>
                <tbody>
                    <tr>
                        <td>
                            <% if post.image.attached? %>
                            <%= image_tag post.image , width: '80px', height: '80px'%>
                            <% else %>
                            <%= image_tag "noimage.png" , width: '80px', height: '80px'%>
                            <% end %>
                        </td>
                        <td>
                            <%= post.image_title %>
                        </td>
                        <td>
                            <%= post.description %>
                        </td>
                    </tr>
                </tbody>
                <% end %>
                <% elsif @model == "item" %>
                <h2>Items search for '<%= @value %>'</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Size</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <% @datas.each do |item| %>
                    <tbody>
                        <tr>
                            <td>
                                <% if item.item_image.attached? %>
                                <%= image_tag item.item_image , width: '80px', height: '80px'%>
                                <% else %>
                                <%= image_tag "noimage.png" , width: '80px', height: '80px'%>
                                <% end %>
                            </td>
                            <td>
                                <%= item.products_name %>
                            </td>
                            <td>
                                <%= item.brand %>
                            </td>
                            <td>
                                <%= item.size %>
                            </td>
                            <td>
                                <%= item.price %>
                            </td>
                        </tr>
                    </tbody>
                    <% end %>
                    <% end %>
                </table>
    </div>
</div>